
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style>
    body {
        padding: 10%;
        background-color: snow;
    }

    #head1 {

        text-align: center;
        font-weight: 100;
        font-size: 8em;
    }

    #head2 {
        padding-top: 100px;
        color: #81a1c1;
    }
    h3{
        color: #A3BE8C;
        font-size: 3rem;
        font-weight: 800;
    }
    ul {
        font-size: 2em;
    }
    button{
        color: 2e3440;
        background-color: #5e81ac;
        border: 0;
    }

</style>

<nav class="navbar navbar-light navbar-fixed-top bg-info">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/hello">onlymembers</a>
        </div>
        <ul class="nav navbar-nav">
            <!-- <li><a href="/create">add member</a></li> -->
            <!-- <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li> -->
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}